.hero {
  background: #2a2a2b;
}

.hero-header {
  padding: 50px 15px 50px;

  font-family: sans-serif;
  text-align: center;
  width: 500;
  line-height: 38.4px;
  letter-spacing: 2%;
  background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-para {
  font-family: sans-serif;
  background: #d2d2d2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.02em;
  padding-top: 50px;
  padding: 5px 315px 5px;
}

.globeSection {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.image {
  position: absolute;
  object-fit: cover;
}

.curve {
  z-index: 1;
  opacity: 0.8;
}

.globe {
  margin-top: 50px;
  z-index: 2;
  opacity: 0.5;
}

.eclipseLeft {
  margin-top: 27%;
  margin-right: 55%;
}

.eclipseRight {
  margin-top: 12%;
  margin-left: 53%;
}

.Person1 {
  height: 30%;
  margin-top: 27.5%;
  margin-right: 62%;
  z-index: 4;
}
.Person2 {
  margin-top: 25%;
  margin-right: 48%;
  z-index: 4;
}
.Person3 {
  margin-right: 42%;
  z-index: 4;
  margin-top: 8%;
}
.Person4 {
  margin-top: 2.5%;
  margin-right: 30%;
  z-index: 4;
}
.Person5 {
  margin-top: -1.5%;
  margin-right: 14%;
  z-index: 4;
}
.Person6 {
  margin-top: -2%;
  margin-left: 7%;
  z-index: 4;
}
.Person7 {
  margin-top: 2%;
  margin-left: 28%;
  height: 32%;
  z-index: 4;
}
.Person8 {
  margin-top: 10.5%;
  margin-left: 53%;
  z-index: 4;
}
.Person9 {
  margin-top: 14%;
  margin-left: 47%;
  z-index: 4;
}
.Person10 {
  margin-top: 16%;
  margin-left: 59%;
}
.Person11 {
  margin-top: 24%;
  margin-left: 48%;
  z-index: 4;
}
.LGreen {
  height: 4%;
  margin-top: 31.6%;
  z-index: 4;
  margin-right: 57.5%;
}
.LOrange {
  margin-top: 27%;
  z-index: 4;
  margin-right: 57%;
}
.LBlue {
  margin-top: 18.9%;
  margin-right: 45.3%;
  z-index: 4;
}
.LInnerBlue {
  margin-top: 19.2%;
  margin-right: 45.3%;
  z-index: 5;
}
.LoveEmoji {
  margin-top: -4%;
  margin-right: 26%;
}
.LInnerLime {
  margin-top: -0.2%;
  margin-right: 3%;
  z-index: 5;
}
.LLime {
  margin-top: -0.5%;
  margin-right: 3%;
  z-index: 4;
}
.Heart {
  margin-top: -2.4%;
  margin-left: 24%;
}
.SmileEmoji {
  margin-top: 3%;
  margin-left: 42%;
}
.LInnerPink {
  margin-top: 21.8%;
  margin-left: 45.5%;
  z-index: 5;
}
.LPink {
  margin-top: 21.5%;
  margin-left: 45.5%;
  z-index: 4;
}
.services {
  margin-top: 20%;
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 3rem 2vw;
  align-items: start;
  
}

.services .service-item1 {
  width: 392px;
  height: 256px;
  /* top: 2260px; */
  flex-shrink: 0;
  flex-grow: 0;

  margin-right: 2%;
  border: 15px;
  border-radius: 15px;
  background: #6b61ff;
}

.services .service-item2 {
  width: 392px;
  height: 256px;
  margin-right: 2%;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 15px;
  background: #fe9bf3;
}

.services .service-item3 {
  width: 392px;
  height: 256px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 15px;
  background: #adffe4;
}

.services .service-item1 .content {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 10%;
  margin: 4%;
  display: grid;

  gap: 8px;
  background: #edf0ff;
  text-align: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}

.services .service-item2 .content {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 13%;
  margin: 4%;
  display: grid;

  gap: 8px;
  background: #1e1e1e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}

.services .service-item3 .content {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 10%;
  margin: 4%;
  display: grid;

  gap: 8px;
  color: #1e1e1e;
  font-family: sans-serif;
}

.deploy {
  background: #ffffff;
  color: #0c091b;
  display: inline-block;
  width: 25%;
  height: 25px;
  border-radius: 25px;

  margin-left: 50%;
  margin-top: 10%;
  margin-right: 30%;
  padding: 15px 30px 10px;
  border-bottom:5px solid#8E7AF0;
  display: flex;
  justify-content: space-between;
}
.deploy lable {
  text-align: center;
  margin-left: 20%;
  font-family: sans-serif;
  font-weight: 700;

  
}

.Comming-soon1 {
  background: #7a186f;
  color: #ffc4f8;
  display: inline-block;
  width: 30%;
  height: 20px;
  border-radius: 15px;

  margin-left: 60%;
  margin-top: 2%;
  margin-right: 50%;
  padding: 10px 10px 10px;
  rotate: -16.8deg;
  border: 4px solid #ffc4f8;
}

.Comming-soon2 {
  background: #0a9b6b;

  color: #ddfff4;

  display: inline-block;
  width: 30%;
  height: 20px;
  border-radius: 15px;

  margin-left: 60%;
  margin-top: 6%;
  margin-right: 50%;
  padding: 10px 10px 10px;
  rotate: -16.8deg;
  border: 4px solid #6dffcf;
}

.Comming-soon1 lable {
  /* text-align: center; */
  /* margin-left: 20%; */
  font-family: sans-serif;
  font-weight: 400;
}

.Comming-soon2 lable {
  /* text-align: center; */
  /* margin-left: 20%; */
  font-family: sans-serif;
  font-weight: 400;
}
